{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "unicorn/no-abusive-eslint-disable": "off",
    "@typescript-eslint/no-use-before-define": ["error", {
      "functions": false
    }]
  }
}
